<div class="profile__person-info">
    <img class="profile__avatar" src="{{ url_for('static', filename='images/people/1.png') }}">

    <div class="profile__bio">
        <h1 class="profile__name">Рашидов Алтай</h1>

        <h3>Кудрово, Санкт-Петербург</h3>
        <h3>Разнорабочий</h3>
        <h3>8 999 99 23 41</h3>
        <h3>Мои социальные сети</h3>

        <div class="profile__social">
            <a href="#">
                <img src="{{ url_for('static', filename='images/icons/social/whatsapp.png') }}">
            </a>
            <a href="#">
                <img src="{{ url_for('static', filename='images/icons/social/instagram.png') }}">
            </a>
            <a href="#">
                <img src="{{ url_for('static', filename='images/icons/social/vk.png') }}">
            </a>
        </div>

        <button class="button">
            Добавить в друзья
        </button>
    </div>
</div>