<div class="selection">
    <h2 class="selection__title">Язык</h2>
    <div class="selection__grid">
        <button class="selection__button selection__button_square">
            <img src="{{ url_for('static', filename='images/icons/flags/uz.svg') }}" class="selection__image">
        </button>
        <button class="selection__button selection__button_square">
            <img src="{{ url_for('static', filename='images/icons/flags/uz.svg') }}" class="selection__image">
        </button>
        <button class="selection__button selection__button_square">
            <img src="{{ url_for('static', filename='images/icons/flags/uz.svg') }}" class="selection__image">
        </button>
        <button class="selection__button selection__button_square">
            <img src="{{ url_for('static', filename='images/icons/flags/uz.svg') }}" class="selection__image">
        </button>
    </div>
</div>