{% with title="Срочно нужна дрель", type="good", image='images/ads/1.jpg', description='Только на один день', location='Кудрово', language="uz" %}
{% include "blocks/ad_card.html" %}
{% endwith %}

{% with title="Телефон на день", type="good", image='images/ads/4.jpg', description='Сломался телефон. Не включается. Срочно нужен телефон на завтра!', location='Кудрово', language="uz" %}
{% include "blocks/ad_card.html" %}
{% endwith %}

{% with title="Отдам коляску", type="good", image='images/ads/2.jpg', description='Отдам коляску, пользовалась два года', location='Кудрово', language="uz", price=0 %}
{% include "blocks/ad_card.html" %}
{% endwith %}

{% with title="Молоток", type="good", image='images/ads/3.jpg', description='Нужен качественный молоток для стройки', location='Кудрово', language="uz", price=1400 %}
{% include "blocks/ad_card.html" %}
{% endwith %}

{% with title="Подстригу как себя", type="service", image='images/ads/5.jpg', description='Очень красиво недорого любая стрижка', location='Кудрово', language="uz", price=1000 %}
{% include "blocks/ad_card.html" %}
{% endwith %}

{% with title="Любой ремонт хорошо", type="service", image='images/ads/6.jpg', description='Сделаю всё стены пол крыша обои всё быстро очень', location='Кудрово', language="uz", price=500 %}
{% include "blocks/ad_card.html" %}
{% endwith %}