<div class="selection" id="district_selection">
    <h2 class="selection__title">Район</h2>
    <div class="selection__grid selection__grid_single-col">
        <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="dis-1" name="dis-1" value="Кудрово" />
            <label for="dis-1" class="custom-checkbox__label">
                <h4>Кудрово</h4>
            </label>
        </div>
        <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="dis-2" name="dis-2" value="Девяткино" />
            <label for="dis-2" class="custom-checkbox__label">
                <h4>Девяткино</h4>
            </label>
        </div>
        <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="dis-3" name="dis-3" value="Дыбенко" />
            <label for="dis-3" class="custom-checkbox__label">
                <h4>Дыбенко</h4>
            </label>
        </div>
        <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="dis-4" name="dis-4" value="Центр" />
            <label for="dis-4" class="custom-checkbox__label">
                <h4>Центр</h4>
            </label>
        </div>
    </div>
</div>