<div class="selection" id="service_selection">
    <h2 class="selection__title">По виду</h2>
    <div class="selection__grid">
        <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="ser-1" name="ser-1" value="good">
            <label for="ser-1" class="custom-checkbox__label">
                <h4>Товар</h4>
            </label>
        </div>
        <div class="checkbox">
            <input class="custom-checkbox" type="checkbox" id="ser-2" name="ser-2" value="service">
            <label for="ser-2" class="custom-checkbox__label">
                <h4>Услуга</h4>
            </label>
        </div>
    </div>
</div>