{% with slug='leisure', list=['Спорт', 'Настольные игры', 'Встречи, прогулки'], title='Досуг', bg='#EB5757', text='#fff' %}
{% include "blocks/category.html" %}
{% endwith %}

{% with slug='religion', list=['Мечети', 'Молитвы', 'Праздники'], title='Религия', bg='#F2994A', text='#fff' %}
{% include "blocks/category.html" %}
{% endwith %}

{% with slug='life', list=['Ремонт обуви', 'Парикмахерские', 'Фотоуслуги'], title='Быт', bg='#27AE60', text='#fff' %}
{% include "blocks/category.html" %}
{% endwith %}

{% with slug='food', list=['Магазины', 'Рынки', 'Кафе', 'Столовые'], title='Еда', bg='#2F80ED', text='#fff' %}
{% include "blocks/category.html" %}
{% endwith %}

{% with slug='culture', list=['Выставки', 'Музеи'], title='Культура', bg='#9B51E0', text='#fff' %}
{% include "blocks/category.html" %}
{% endwith %}

{% with slug='education', list=['Курсы', 'Мастер-классы'], title='Развитие', bg='#BB6BD9', text='#fff' %}
{% include "blocks/category.html" %}
{% endwith %}