.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    z-index: 1;
    opacity: 1;
    will-change: opacity;
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
}

.preloader_hidden {
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
    opacity: 0;
    pointer-events: none;
}

.preloader__ball {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 4.2325s infinite;
    -o-animation: orbit 4.2325s infinite;
    -ms-animation: orbit 4.2325s infinite;
    -webkit-animation: orbit 4.2325s infinite;
    -moz-animation: orbit 4.2325s infinite;
}

.preloader__inner-ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--main-accent);
    left: 0px;
    top: 0px;
    border-radius: 10px;
}

.preloader__ball_1 {
    animation-delay: 0.926s;
    -o-animation-delay: 0.926s;
    -ms-animation-delay: 0.926s;
    -webkit-animation-delay: 0.926s;
    -moz-animation-delay: 0.926s;
}

.preloader__ball_2 {
    animation-delay: 0.183s;
    -o-animation-delay: 0.183s;
    -ms-animation-delay: 0.183s;
    -webkit-animation-delay: 0.183s;
    -moz-animation-delay: 0.183s;
}

.preloader__ball_3 {
    animation-delay: 0.3665s;
    -o-animation-delay: 0.3665s;
    -ms-animation-delay: 0.3665s;
    -webkit-animation-delay: 0.3665s;
    -moz-animation-delay: 0.3665s;
}

.preloader__ball_4 {
    animation-delay: 0.5495s;
    -o-animation-delay: 0.5495s;
    -ms-animation-delay: 0.5495s;
    -webkit-animation-delay: 0.5495s;
    -moz-animation-delay: 0.5495s;
}

.preloader__ball_5 {
    animation-delay: 0.743s;
    -o-animation-delay: 0.743s;
    -ms-animation-delay: 0.743s;
    -webkit-animation-delay: 0.743s;
    -moz-animation-delay: 0.743s;
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}