{% with name="Рашидов Алтай", image='images/people/1.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/2.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/3.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/4.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/5.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/6.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/7.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Рашидов Алтай", image='images/people/8.png', occupation='Разнорабочий', location='Кудрово' %}
{% include "blocks/person_card.html" %}
{% endwith %}