{% with name="Рашидов Алтай", image='images/people/3.png', occupation='Таксист', location='Кудрово', language="uz" %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Каримов Аслан", image='images/people/4.png', occupation='Разнорабочий', location='Кудрово', language="uz" %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Акматов Айбек", image='images/people/5.png', occupation='Разнорабочий', location='Кудрово', language="tj" %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Пак Айдар", image='images/people/6.png', occupation='Строитель', location='Кудрово', language="kz" %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Исмаилов Азамат", image='images/people/7.png', occupation='Дворник', location='Кудрово', language="kz" %}
{% include "blocks/person_card.html" %}
{% endwith %}

{% with name="Абдуллаев Нурбек", image='images/people/8.png', occupation='Разнорабочий', location='Кудрово', language="tj" %}
{% include "blocks/person_card.html" %}
{% endwith %}