{% extends "base.html" %}
{% set active_page = 'help' %}

{% block head %}
<title>Помощь</title>
{% endblock head %}

{% block content %}

<div class="wrapper">
    <aside class="sidebar">
        {% include "blocks/profile.html" %}
        {% include "blocks/menu.html" %}
    </aside>

    <main class="content content_single-col">
        {% with back=True, search=True, search_fw=False %}
        {% include "blocks/controls.html" %}
        {% endwith %}

        <img src="{{ url_for('static', filename='images/posters/help/1.png') }}">

        <h4 class="help__description">
            Если с Вами плохо обошлись: не выплатили зарплату, лишили работы, незаконно вымогают деньги, лишают жилья,
            то напишите нам и мы Вам поможем!
        </h4>

        <div class="get-help">
            {% include "help/application.html" %}
            <img src="{{ url_for('static', filename='images/posters/help/2.png') }}" class="help__arrow">
        </div>

        <img src="{{ url_for('static', filename='images/posters/help/4.png') }}" class="help__we-will-help">
    </main>
</div>

{% endblock content %}