{% extends "base.html" %}
{% set active_page = 'locations' %}

{% block head %}
<title>Локации</title>
{% endblock head %}

{% block content %}

<div class="wrapper">
    <aside class="sidebar">
        {% include "blocks/profile.html" %}
        {% include "blocks/menu.html" %}
    </aside>

    <main class="content">
        <div class="content__sidebar">
            {% with back=True, search=True %}
            {% include "blocks/controls.html" %}
            {% endwith %}

            <div class="content__grid">
                {% include "locations/categories.html" %}
            </div>

            <button class="button button_fw content__add-event">
                Добавить мероприятие
            </button>
        </div>

        {% include "locations/add_event.html" %}

        <div class="content__map" id="map"></div>
    </main>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ yandex_api_key }}"
    type="text/javascript"></script>
<script src="{{ url_for('static', filename='scripts/locations/map.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/locations/add.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/debounce.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/locations/search.js') }}"></script>
{% endblock content %}