{% extends "base.html" %}
{% set active_page = 'locations' %}

{% block head %}
<title>Локации</title>
{% endblock head %}

{% block content %}

<aside class="sidebar">
    {% include "blocks/profile.html" %}
    {% include "blocks/menu.html" %}
</aside>

<main class="panel">
    <header class="controls">
        <button class="button back-button">
            Назад
        </button>
        <div class="controls__right">
            <a href="#" class="notifications">
                <img src="{{ url_for('static', filename='images/icons/bell.svg') }}" class="notifications__bell">
            </a>
            <input type="text" class="search-input" placeholder="Поиск" />
        </div>
    </header>

    <section class="content">
        <div class="content__sidebar">
            <div class="content__grid">
                {% for i in range(5) %}
                {% include "blocks/category.html" %}
                {% endfor %}
            </div>

            <button class="button button_fw content__add-event" id="add_event">
                Добавить мероприятие
            </button>
        </div>

        {% include "locations/add_event.html" %}

        <div class="content__map" id="map"></div>
    </section>
</main>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ yandex_api_key }}"
    type="text/javascript"></script>
<script src="{{ url_for('static', filename='scripts/locations/map.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/locations/add.js') }}"></script>
{% endblock content %}