{% extends "base.html" %}
{% set active_page = 'search' %}

{% block head %}
<title>Профиль</title>
{% endblock head %}

{% block content %}

<div class="wrapper">
    <aside class="sidebar">
        {% include "blocks/profile.html" %}
        {% include "blocks/menu.html" %}
    </aside>

    <main class="content content_single-col">
        {% with back=True %}
        {% include "blocks/controls.html" %}
        {% endwith %}

        <div class="profile">
            {% include "profile/person_info.html" %}
            {% include "profile/achievements.html" %}
        </div>

        <div class="profile__portfolio">
            <h2>Портфолио</h2>
            <div class="portfolio-grid profile__portfolio-grid">
                {% include "profile/portfolios.html" %}
            </div>
        </div>
    </main>
</div>

<script src="{{ url_for('static', filename='scripts/profile/back.js') }}"></script>
{% endblock content %}