{% extends "base.html" %}
{% set active_page = 'search' %}

{% block head %}
<title>Люди</title>
{% endblock head %}

{% block content %}

<div class="wrapper">
    <aside class="sidebar">
        {% include "blocks/profile.html" %}
        {% include "blocks/menu.html" %}
    </aside>

    <main class="content search__content">
        <div class="content__sidebar">
            <div class="content__filters">
                {% with search=True, back=True %}
                {% include "blocks/controls.html" %}
                {% endwith %}

                {% include "blocks/selection/language_selection.html" %}
                {% include "blocks/selection/district_selection.html" %}

                <button class="button button_fw" id="find_button">
                    Найти
                </button>
            </div>
        </div>

        <div class="search-results">
            {% include "search/people.html" %}
        </div>
    </main>
</div>

<script src="{{ url_for('static', filename='scripts/debounce.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/people/search.js') }}"></script>
{% endblock content %}