{% extends "base.html" %}
{% set active_page = 'search' %}

{% block head %}
<title>Люди</title>
{% endblock head %}

{% block content %}

<div class="wrapper">
    <aside class="sidebar">
        {% include "blocks/profile.html" %}
        {% include "blocks/menu.html" %}
    </aside>

    <main class="content content_search">
        <div class="content__sidebar">
            {% include "blocks/controls.html" %}

            Нет формы
        </div>

        <div class="search-results">
            {% include "search/people.html" %}
        </div>
    </main>
</div>

{% endblock content %}